/* The ubiquitous hamburger menu icon,
    could be done with box-shadow's but :before and
    :after give more animation possibilities
*/
.ib.threebar, .ib.hamburger {
  height: 0.2em;
  top: 0;
  transform: translate(0, 0.4em);
  border-radius: 0.08em;
}
.ib.threebar:before, .ib.hamburger:before,
.ib.threebar:after, .ib.hamburger:after {
  position: absolute;
  content: " ";
  width: 1em;
  height: 0.2em;
  border-radius: 0.08em;
  background-color: inherit;
}
.ib.threebar:before, .ib.hamburger:before {
  transform: translate(0, -0.3em);
  /* turns on sub-pixel rendering at the expense of compatability */
}
.ib.threebar:after, .ib.hamburger:after {
  transform: translate(0, 0.3em);
}

/* Because it's a simple extension:
    vertical ellipsis
*/
.ib.vellipsis {
  height: 0.2em;
  width: 0.2em;
  top: 0;
  transform: translate(0.4em, 0.4em);
  border-radius: 0.1em;
}
.ib.vellipsis:before,
.ib.vellipsis:after {
  position: absolute;
  content: " ";
  width: 0.2em;
  height: 0.2em;
  border-radius: 0.1em;
  background-color: inherit;
}

.ib.vellipsis:before {
  transform: translate(0, -0.3em);
}
.ib.vellipsis:after {
  transform: translate(0, 0.3em);
}
/* horizonal ellipsis */
.ib.ellipsis {
  height: 0.2em;
  width: 0.2em;
  top: 0;
  transform: translate(0.4em, 0.4em);
  border-radius: 0.1em;
}
.ib.ellipsis:before,
.ib.ellipsis:after {
  position: absolute;
  content: " ";
  width: 0.2em;
  height: 0.2em;
  border-radius: 0.1em;
  background-color: inherit;
}

.ib.ellipsis:before {
  transform: translate(-0.3em, 0);
}
.ib.ellipsis:after {
  transform: translate(0.3em, 0);
}

/* plus sign */
.ib.plus {
  height: 0.2em;
  top: 0;
  transform: translate(0, 0.4em);
  border-radius: 0.08em;
}
.ib.plus:before,
.ib.plus:after {
  position: absolute;
  content: " ";
  width: 1em;
  height: 0.2em;
  border-radius: 0.08em;
  background-color: inherit;
}

.ib.plus:before {
  transform: rotate(90deg);
}
.ib.plus:after {
  transform: translate(0, 0);
}